<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="androidrubick.xframework.impl.cache">

    <application>

        <receiver android:name=".disk.ExternalStorageReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.MEDIA_UNMOUNTED"/>
                <action android:name="android.intent.action.MEDIA_UNMOUNTABLE"/>
                <action android:name="android.intent.action.MEDIA_EJECT"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
